<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742048409803-ohilc4tlmjuuk9h54ddnf7ioqvtvhrge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742048409803-ohilc4tlmjuuk9h54ddnf7ioqvtvhrge</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsanZH5RabQvd23YRNlpCJXmQa3X_ywE</string>
	<key>GCM_SENDER_ID</key>
	<string>742048409803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.noichu</string>
	<key>PROJECT_ID</key>
	<string>noichu-43249</string>
	<key>STORAGE_BUCKET</key>
	<string>noichu-43249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742048409803:ios:a919b575d973950810134e</string>
	<key>DATABASE_URL</key>
	<string>https://noichu-43249-default-rtdb.firebaseio.com</string>
</dict>
</plist>